.form {
    margin: 2em;

    .add-button {
        position: fixed;
        right: 4em;
        bottom: 30%;
        width: 50px;
        height: 50px;
        border-radius: 100%;
    }

    .user-table {
        width: 100%;

        tr:nth-child(2n) {
            background: rgb(0 0 0 / 10%);
        }

        .operation-col {
            button:last-of-type {
                margin-left: 2em;
            }
        }
    }

    td {
        text-align: center;
    }

    .user-dialog {
        position: fixed;
        display: flex;
        flex-direction: column;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        width: 50%;
        height: 400px;
        background-color: white;
        border-radius: 1em;
        box-shadow: 0 0 5px rgb(0 0 0 / 10%);
        padding: 2em;
        transition: all 0.3s ease-in-out;

        &.closed {
            visibility: hidden;
        }

        .dialog-close-button {
            position: absolute;
            top: 0;
            right: 0;
        }

        .dialog-body {
            .filed {
                margin: 1em 0;

                label {
                    margin-right: 2em;

                    &::after {
                        content: '：';
                    }
                }
            }
        }

        .dialog-header {
            align-self: center;
        }

        .dialog-footer {
            align-self: flex-end;
            margin-top: auto;

            button:last-of-type {
                margin-left: 2em;
            }
        }
    }
}
